
/* Page Layout */
* {
    box-sizing: border-box;
    
}

body {
    font-family: 'open sans';
    margin: 0;
}

/* Header */
.header {
    /* background-image: linear-gradient(to right, #3EB8FB, rgb(38, 63, 90) ); */
    background-color: #171E26;
    padding: 1px;
    text-align: center;
    font-size: 12px;
    height: 60px;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Three columns */
.column {
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* Middle column */
.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

/* main */
.main {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Switches from row to colums baced on width of screen */
@media (max-width: 600px) {
  .row {
        -webkit-flex-direction: column;
        flex-direction: column;
  }
}
/* End of Page Layout */

/* Start of social links */
.socials {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        position: relative;
        right: 50px;
        bottom: 160px;
  
}

.socials li a {
        float:left;
        display: block;
        height: 50px;
        width: 70px;
        background: #222;
        border-right: 1px solid #333;
        font: normal normal normal
        16px/20px 
        'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        transition: background .5s ease .300ms;
}

.socials li:first-child a:hover { background: #4c6cb1 }
.socials li:nth-child(2) a:hover { background: rgb(148, 214, 48) }
.socials li:nth-child(3) a:hover { background: #ea4c89 }
.socials li:nth-child(4) a:hover { background: #fff }

.socials li:first-child a { border-radius: 0 5px 0 0 }
.socials li:last-child a { border-radius: 0 0 5px 0 }
    
.socials li a span {
        width: 100px;
        float: left;
        text-align: center;
        background: #222;
        color: #fff;
        margin-top: 20px;
        margin-left: -45px;
        transform-origin: 0;
        visibility: hidden;
        opacity: 0;
        transform: rotateY(45deg);
        border-radius: 5px;
        transition: all .5s ease .300ms
}

.socials li span:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: 50px;
        top: -20px;
        border-left: 10px solid transparent;
        border-bottom: 10px solid #222;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
}

.socials li a:hover span {
        visibility: visible;
        opacity: 1;
        transform: rotateY(0);
        position: relative;
        left: 20px;
        top: 10px;
}

@media (max-width: 600px) {
    .socials {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
   
    }

    .socials li a:hover span {
        visibility: hidden;
    }

  }

@media (max-width: 419px) {
    .socials li a{
        position: relative;
        width: 50px;
        height: 50px;
    
    }

    .socials {
        position: relative;
        left: 1px;
    }
}
/* End of social links */

/* Start of Search Bar */
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 45px;
    border: 1px solid rgb(16, 21, 27);
    border-radius: 10px;
    background-color: rgb(16, 21, 27);
    outline: none;
    color: white;
    padding-left: 20px;
    position: relative;
    bottom: 75px;
    left: 30%;
    
}

.searchIcon {
    width: 20px;

    position: relative;
    bottom: 110px;
    left: 14%;
    
}
/* End of Search Bar */

/* name styles */
#positionName {
    position: relative;
    bottom: 12px;
    width: 136px;
    left: 10px;
}

.logoText {
    position: relative;
    top: 10px;
}

.homeIcon {
    width: 60px;
    height: auto;
    user-select: none;
}

.port {
    color: rgb(68, 158, 218);
    position: relative;
    left: 15px;
}

.name {
    display: flex;
    font-size: 0.8rem;
    color: white;
    font-family: "open-sans";
    user-select: none;
    
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

@media (max-width: 600px) {
    #positionName {
        margin-left: 20px;
    }
  }

@media (max-width: 350px) {
    #positionName {
        margin-left: 20px;
    }
}
/* End of name styles */

/* Start of Column side left */
.triangles {
    display: flex;
    flex-direction: column;
    width: 100px;
    
}

.shapeRight {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 60px;
    border-color: transparent transparent transparent #171E26;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.shape1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 0 60px 90px;
    border-color: transparent transparent transparent #171E26;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.effectRight:hover {
    /* border-color: transparent transparent transparent rgb(82, 107, 136); */
  
}

.shapeLeft {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 60px 30px 0;
    border-color: transparent #171E26 transparent transparent;
    display: flex;
    justify-content: space-between;
}

.shape2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 90px 60px 0;
    border-color: transparent #171E26 transparent transparent;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.effectLeft:hover {

}

@media (max-width: 600px) {
    .triangles {
        display: flex;
  
    }
  }

  /* End of Column side left */

  /* Start of Column Middle */
.dots0 {
    display: flex;
    background-image: linear-gradient(to right, white 10%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 20px 7px;
    background-repeat: repeat-x;
    opacity: 0.2;
    color: transparent;
    position: relative;
    right: 500px;
    top: 60px;
    user-select: none; /* allows item to be be selected */
}

.fullCir0 {
    display: flex;
    border: 2px solid #03F2EF;
    background-color: #03F2EF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    -webkit-transform:
    rotate(60deg);
    box-shadow: 10px -10px  rgba(0, 0, 0, 0.178);
    -moz-box-shadow: 10px -10px  rgba(0, 0, 0, 0.178);
    -webkit-box-shadow: 10px -10px  rgba(0, 0, 0, 0.178);
    -o-box-shadow: 10px -10px  rgba(0, 0, 0, 0.178);
    position: relative;
    top: 300px;
    right: 320px; 
}

.lineWhite0 {
    width: 270px;
    border-bottom: 1px solid white;
    -webkit-transform:
        translateY(8px)
        translateX(1px)
        rotate(-50deg);
    opacity: 0.4;
    -webkit-box-shadow: 10 10px 5px #4d4c4c52;
    -moz-box-shadow: 0 10px 5px #4d4c4c52;
    box-shadow: 0 10px 5px #4d4c4c52;
    position: relative;
    top: 45px;
    right: 380px;
}

.lineThrough0 {
    width: 250px;
    border-bottom: 2px solid #03F2EF;
    -webkit-transform:
        translateY(2px)
        translateX(1px)
        rotate(-50deg);
    position: relative;
    top: 315px;
    right: 350px;
}

.circle75 {
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-top-color: transparent;
    transform: rotate(40deg);
    opacity: 0.3;
    position: relative;
    top: 100px;
    
    
}  

.smallLine {
    width: 70px;
    height: 60px;
    border-bottom: 4px solid #03F2EF;
    -webkit-transform:
        translateY(30px)
        translateX(1px)
        rotate(-50deg);
    position: relative;
    top: -33px;
    left: -13px;
}

.fullCir {
    display: flex;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    opacity: 0.3;
    position: relative;
    bottom: 90px;
    left: 200px; 
    
}

.lineWhite {
    width: 300px;
    border-bottom: 4px solid white;
    -webkit-transform:
        translateY(8px)
        translateX(1px)
        rotate(-50deg);
    position: relative;
    bottom: 100px;
    left: 300px;
    opacity: 0.4;
    -webkit-box-shadow: 10 10px 5px #4d4c4c52;
    -moz-box-shadow: 0 10px 5px #4d4c4c52;
    box-shadow: 0 10px 5px #4d4c4c52;
}

.lineThrough {
    width: 650px;
    border-bottom: 2px solid #03F2EF;
    -webkit-transform:
        translateY(2px)
        translateX(1px)
        rotate(-50deg);
    position: relative;
    bottom: 175px;
    left: 300px;
}

.solidTri {   
    display: flex;
    justify-content: center;
    font-size: 50px;
    -webkit-transform:
    translateY(1px)
    translateX(1px)
    rotate(-50deg);  
    text-shadow: 
      0 2px 2px rgba(255,255,255,0.7), 
      0 10px 4px rgba(0,0,0,0.5);
    color: #03F2EF;
    user-select: none; /* allows item to be be selected */
    position: relative;
    bottom: 300px;
    left: 220px; 
}

.hollowCir {
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 0.3;
    position: relative;
    bottom: 100px;
    left: 800px; 
}

.hollowTri {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0;
    -webkit-text-stroke: 2px #03F2EF;
    color: transparent;
    font-size: 80px;
    -webkit-transform:
    translateY(1px)
    translateX(1px)
    rotate(120deg);
    position: relative;
    bottom: 350px;
    left: 800px; 
    user-select: none;
}

.lineWhite2 {
    width: 200px;
    border-bottom: 4px solid white;
    -webkit-transform:
        translateY(8px)
        translateX(1px)
        rotate(-50deg);
    opacity: 0.4;
    -webkit-box-shadow: 10 10px 5px #4d4c4c52;
    -moz-box-shadow: 0 10px 5px #4d4c4c52;
    box-shadow: 0 10px 5px #4d4c4c52;
    position: relative;
    bottom: 230px;
    left: 1000px;
}

.fullCir2 {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    opacity: 0.3;
    position: relative;
    bottom: 340px;
    left: 1180px; 
}

.lineThrough2 {
    width: 420px;
    border-bottom: 2px solid #03F2EF;
    -webkit-transform:
        translateY(1px)
        translateX(1px)
        rotate(-50deg);
    position: relative;
    bottom: 328px;
    left: 1050px;
}

.lineThrough3 {
    width: 100px;
    border-bottom: 2px solid #03F2EF;
    -webkit-transform:
        translateY(1px)
        translateX(1px)
        rotate(-50deg);
    position: relative;
    bottom: 370px;
    left: 1340px;
}

.dots1 {
    display: flex;
    background-image: linear-gradient(to left, white 10%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 20px 7px;
    background-repeat: repeat-x;
    opacity: 0.2;
    position: relative;
    color: transparent;
    left: 1000px;
    bottom: 300px;
    user-select: none; /* allows item to be be selected */
}
  /* End of Column Middle */
  
  /* Start of Column Right */

  /* End of Column Right */

  /* Start of Main */
.con-padding:after,.con-padding:before,.picture-rows:after,.picture-rows:before {
    content:"";
    display:table;
    clear:both
}

/* Container Padding */
.con-padding {
    padding:0.01em 16px;
}

.margin-bottom {
    margin-bottom:16px;
}

.resp-width {
    float:left;
    width:100%
}

/* splits the of class parent into thirds */
.resp-width {
    width:33.33333%
}

.picture-rows>.w3-third {
    padding:0 8px;
}

.con-img {
    height: 345px;
}

.con-img:hover {
    opacity:0.60
}

.con-color {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

}

@media (max-width:980px) {
    .resp-width {
        width:50%
    }
    .con-Para {
        font-size: 14px;
    }
}

@media (max-width:600px) {
    .resp-width {
        width:100%
    }
}

  /* End of Main */